@tailwind base;
@tailwind components;
@tailwind utilities;

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    right: -5px;
    top: 40px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    left: 0;
    top: 27px;
    background-color: currentColor;
}